/*   PALETA DE CORES   */
$vermelho: #E1173F;
$vermelhoClaro: #E60935;
$vermelhoEscuro: #CC092F;
$fundoVinho: #CC092F;
$btnAzul: #0B67BD;
$bordaCinza: #D2D4DA;
$fonteCinzaEscuro: #4D4E53;
$fonteDefaultCinza: #47484C;
$fonteHeaderCinza: #5A5B5F;
$fundoBranco: #FFFFFF;
$fundoCinza: #E8E9EC;
$fundoCinzaClaro: #F4F4F6;
$fundoCinzaEscuro: #35363A;
$inputTextCinza: #A5AAB6;


/*  FONTES  */
$fonteHeader: 'Bradesco Sans', sans-serif;
$fonteDefault: 'Bradesco Sans', sans-serif;
